@import 'antd/dist/antd.css';

.ant-table-thead > tr > th {
  border-bottom: 1px solid black;
  text-align: center;
}

.ant-table table {
  width: 92%;
  margin: 3em 0 1.5em 0em;
}

.ant-input-affix-wrapper {
  margin-right: 17em;
}


h5.ant-typography {
  padding-right: 10rem;
  text-transform: capitalize;
}


h5.ant-typography.checked {
  padding-right: 9rem;
}

.button-ant {
  text-align: center; 
}

th.ant-table-cell.Action {
  text-align: center;
  padding: 0 3.2em 0 3.2em;
}

.ant-btn-primary{
padding: 0 1.4rem 0 1.4rem;
}

.ant-btn-primary:hover, .ant-btn-primary:focus{
  color: black;
}



.ant-table-container table>thead>tr:first-child th:first-child {
  border-top-left-radius: 2px;
  text-align: left;
  padding-right: 23rem;
}

.ant-card-body, .ant-table {
  background: aliceblue;
}

.ant-card-head {
  background: thistle;
}


th {
  padding: 0 20px 0 20px;
  border: 1px black solid;
}

td {
  padding: 0 20px 0 20px;
}

html,
body {
  background: lavender;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
